body {
    color: white;
    background-color: black;
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
h2, h3 {
    display: inline-block;
    font-size: 1.25em;
    margin: 0;
}
#release-date::before {
    content: " · "
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em 0;
}
.track-number {
    min-width: 1em;
    margin-right: 1em;
}
.track-length {
    margin-right: 1em;
    margin-left: auto;
}
a {
    color: lightgrey;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#release-content {
    width: 100%;
    display: inline-grid;
    grid-column-gap: 1em;
    grid-template-columns: 30% 70%;
    margin-bottom: 2em;
}
#seek-slider {
    min-width: 30em;
    position: relative;
}
#release-cover {
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
}
#release-info {
    grid-column: 2;
    grid-row 1;
}
#release-tracks {
    grid-column: 1 /span 2;
    grid-row: 2;
}
#content {
    width: 90%;
    margin: 1em auto;
}

nav {
    display: flex;
    align-items: center;
    height: 3em;
    background-color: #2d2d2d;
}
nav a {
    margin: 1em;
}
nav form {
    margin: 1em;
}
#player {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3em;
    padding: 0.25em;
    background-color: #2d2d2d;
    position: fixed;
    width: 100vw;
    bottom: 0px;
}
#controls {
    margin: auto;
    min-width: 60em;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

#track-data {
    display: flex;
    flex-direction: row;
    min-width: 20em;
    margin-right: 3em;
    gap: 0.5em;
    align-items: center;
}
#track-data-text {
    width: 10em;
    display: flex;
    flex-direction: column;
}
#track-cover {
    height: 3em;
}
#settings {
    margin-left: 3em;
    min-width: 20em;
    display: flex;
    flex-direction: column;
}
#time {
    gap: 0.25em;
    display: flex; 
    flex-direction: row;
    left: 8em;
}
#play:before {
    content: "▶";
}
#pause:before {
    content: "❚❚";
}
#next:before {
    content: "⏭";
}
#prev:before {
    content: "⏮";
}
#seek-slider {
    width: 100%;
    margin: 0;
}
#track-love:before {
    content: "❤";
}
.small-release-img {
    width: 100%;
}
.small-release-name {
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
}
.small-release {
    width: 15vw;
    display: flex;
    flex-direction: column;
}
#artist-releases, #search-releases {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}
