body {
    color: white;
    background-color: black;
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
h2, h3 {
    display: inline-block;
    font-size: 1.25em;
    margin: 0;
}
#release-date::before {
    content: " · "
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em 0;
}
.track-number {
    min-width: 1em;
    margin-right: 1em;
}
.track-length {
    margin-left: auto;
}
a {
    color: lightgrey;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#release-content {
    width: 100%;
    display: inline-grid;
    grid-column-gap: 1em;
    grid-template-columns: 30% 70%;
    margin-bottom: 2em;
}
#release-cover {
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
}
#release-info {
    grid-column: 2;
    grid-row 1;
}
#release-tracks {
    grid-column: 1 /span 2;
    grid-row: 2;
}
#content {
    width: 90%;
    margin: 1em auto;
}

nav {
    display: flex;
    align-items: center;
    height: 3em;
    background-color: #2d2d2d;
}
nav a {
    margin: 1em;
}
#player {
    display: flex;
    align-items: center;
    height: 3em;
    background-color: #2d2d2d;
    position: fixed;
    width: 100vw;
    bottom: 0px;
}
.small-release-img {
    width: 100%;
}
.small-release-name {
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
}
.small-release {
    width: 15vw;
    display: flex;
    flex-direction: column;
}
#artist-releases {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}
