body {
    font-family: "monospace";
    color: white;
    background-color: black;
    margin: 0;
}
a {
    color: lightgrey;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#seek-slider {
    width: 100vw;
    margin: 0;
}
#content {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 5rem;
}
.release-cover {
    width: 20rem;
}
.cover {
    height: 3rem;
}
.flex-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
    padding: 0;
}
.track-list li {
    width: 100%;
    margin: 1rem 0;
}
.margin-right {
    margin-right: auto;
}
img {
    width: 100%;
}
nav {
    padding: 0 1rem;
    height: 3rem;
}
form {
    margin: 0;
}
#player, nav {
    background-color: #2d2d2d;
}
#player {
    height: 4rem;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
.release-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.release-list li {
    margin-top: auto;
    width: 15rem;
}
span, a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.volume::before { content: "🔊"; }
.muted::before { content: "🔇"; }
.previous::before { content: "⏮"; }
.play::before { content: "▶"; }
.pause::before { content: "⏸"; }
.next::before { content: "⏭"; }
.queue::before { content: "➕"; }
